@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-color: rgb(12, 186, 101);
   
} 
/* in header */
.image1{
  display: flex;
  justify-content: center;
}

/* in homepage */
.house-container{
  /* background-color: rgb(12, 186, 101); */
}

/* login form */
.login_page{
  text-align: center;
}
.login_form{
text-align: center;

}
.header_span{
color: green;
}


/* signup page */
.h2{
  margin: 2rem;
}

.para{
  margin: 2rem
}
.signUpForm{
  text-align: center;
}

.uname{
  margin: 1.25rem;
  padding: 1.25rem;

}
.loginButton{
  margin: 2rem;
}

.unameLabel{
  margin: 2rem;
}

.logo{
  margin: 2rem;
}